<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.ClassMapper">

    <sql id="Base_Column">
        id, belongTeacherId, className, description, teacherName, teacherImagePath, classImagePath, classRoom, maxNumber, numberLimit,
        countNumber, singlePrice, isAllowGroup, groupPrice, groupNumberLimit, classTypeId, paidAmount,
        classBeginTime, classEndTime, classAddTime, classUpdateTime, status
    </sql>

    <select id="queryById" resultType="com.hd.clc.boya.db.entity.Class">
        SELECT <include refid="Base_Column" />
        FROM Class
        WHERE id = #{id}
        AND isDeleted = 0
    </select>

    <update id="deleteById">
        UPDATE Class SET isDeleted = 1
        WHERE id = #{id}
    </update>

    <insert id="addNewClass" parameterType="com.hd.clc.boya.db.entity.Class" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Class
        (belongTeacherId, className, description, teacherName, teacherImagePath, classImagePath, classRoom, maxNumber, numberLimit ,singlePrice, isAllowGroup,
         <if test="isAllowGroup == 1">
            groupPrice, groupNumberLimit,
         </if>
         classTypeId, classBeginTime, classEndTime, classAddTime)
        VALUES (#{belongTeacherId}, #{className}, #{description}, #{teacherName}, #{teacherImagePath},
                #{classImagePath}, #{classRoom}, #{maxNumber},
                #{numberLimit}, #{singlePrice}, #{isAllowGroup},
                <if test="isAllowGroup == 1">
                    #{groupPrice}, #{groupNumberLimit},
                </if>
                #{classTypeId}, #{classBeginTime}, #{classEndTime}, #{classAddTime}
        )
    </insert>

    <select id="getAllowingClass" resultType="com.hd.clc.boya.db.entity.Class">
        SELECT <include refid="Base_Column" />
        FROM Class
        WHERE status = 0
        AND isDeleted = 0
    </select>

    <update id="updateStatus">
        UPDATE Class
        SET status = #{status}
        WHERE id = #{id}
        AND isDeleted = 0
    </update>

    <update id="modifyPaidAmount" parameterType="com.hd.clc.boya.db.entity.Class">
        UPDATE Class
        SET paidAmount = #{paidAmount}
        WHERE id = #{id}
        AND isDeleted = 0
    </update>

    <update id="updateNumber" parameterType="com.hd.clc.boya.db.entity.Class">
        UPDATE Class
        SET countNumber = #{countNumber}, status = #{status}
        WHERE id = #{id}
        AND isDeleted = 0
    </update>

    <update id="classBegin">
        UPDATE Class
        SET status = 4
        WHERE id = #{id}
        AND isDeleted = 0
    </update>

    <update id="shutClass">
        UPDATE Class
        SET status = 5
        WHERE id = #{id}
        AND isDeleted = 0
    </update>

    <update id="shutGroup">
        UPDATE Class
        SET isAllowGroup = 2
        WHERE id = #{id}
        AND isDeleted = 0
    </update>

    <select id="queryFinishedClassByTeacherId" resultType="com.hd.clc.boya.db.entity.Class">
        SELECT <include refid="Base_Column"/>
        FROM Class
        WHERE belongTeacherId = #{belongTeacherId}
        AND status >= 4
        AND isDeleted = 0
    </select>

    <select id="queryOngoingClassByTeacherId" resultType="com.hd.clc.boya.db.entity.Class">
        SELECT <include refid="Base_Column"/>
        FROM Class
        WHERE belongTeacherId = #{belongTeacherId}
        AND status &lt;= 3
        AND isDeleted = 0
    </select>

</mapper>