<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.ClassMapper">

    <sql id="Base_Column">
        id, belongTeacherId, className, description, classImagePath, classRoom, maxNumber, numberLimit,
        countNumber, singlePrice, isAllowGroup, groupPrice, groupNumberLimit, classTypeId,
        classBeginTime, classEndTime, classAddTime, classUpdateTime, status
    </sql>

    <select id="queryById" resultType="com.hd.clc.boya.db.entity.Class">
        SELECT <include refid="Base_Column" />
        FROM Class
        WHERE id = #{id}
        AND isDeleted = 0
    </select>

    <update id="deleteById">
        UPDATE Class SET isDeleted = 1
        WHERE id = #{id}
    </update>

    <insert id="addNewClass" parameterType="com.hd.clc.boya.db.entity.Class" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Class
        (belongTeacherId, className, description, classImagePath, classRoom, maxNumber, numberLimit,countNumber ,singlePrice, isAllowGroup,
         <if test="isAllowGroup == 1">
            groupPrice, groupNumberLimit,
         </if>
         classTypeId, classBeginTime, classEndTime, classAddTime)
        VALUES (#{belongTeacherId}, #{className}, #{description}, #{classImagePath}, #{classRoom}, #{maxNumber},
                #{numberLimit}, #{countNumber}, #{singlePrice}, #{isAllowGroup},
                <if test="isAllowGroup == 1">
                    #{groupPrice}, #{groupNumberLimit},
                </if>
                #{classTypeId}, #{classBeginTime}, #{classEndTime}, #{classAddTime}
        )
    </insert>

</mapper>