<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.HotClassMapper">

    <sql id="Base_Column">
        id, classId, className, classRoom, classBeginTime, isAllowGroup, classImagePath, teacherType,
         sortNum, isTop, topTime, addTime, updateTime, status
    </sql>

    <select id="queryById" resultType="com.hd.clc.boya.db.entity.HotClass">
        SELECT <include refid="Base_Column" />
        FROM Hot_Class
        WHERE id = #{id}
        AND isDeleted = 0
    </select>

    <update id="deleteById">
        UPDATE Hot_Class SET isDeleted = 1
        WHERE id = #{id}
    </update>

    <select id="query" resultType="com.hd.clc.boya.db.entity.HotClass">
        SELECT <include refid="Base_Column" />
        FROM Hot_Class
        WHERE isDeleted = 0
        AND status = 0
        ORDER BY isTop DESC , sortNum DESC
    </select>

    <select id="getMaxSortNum" resultType="Integer">
        SELECT sortNum
        FROM Hot_Class
        WHERE isDeleted = 0
        ORDER BY sortNum DESC
        LIMIT 1
    </select>

    <insert id="addNewHotClass" parameterType="com.hd.clc.boya.db.entity.HotClass" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Hot_Class
        (classId, className, classRoom, classBeginTime, isAllowGroup, classImagePath, teacherType, sortNum, addTime)
        VALUES (#{classId}, #{className}, #{classRoom}, #{classBeginTime}, #{isAllowGroup}, #{classImagePath}, #{teacherType}, #{sortNum}, #{addTime})
    </insert>

    <update id="classBegin">
        UPDATE Hot_Class
        SET status = 2
        WHERE classId = #{classId}
    </update>

</mapper>