<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.ManagerSessionMapper">

    <sql id="Base_Column">
        SID, managerId, status, addTime, outTime
    </sql>

    <insert id="add" parameterType="com.hd.clc.boya.db.entity.ManagerSession">
        INSERT INTO Manager_Session
        (SID, managerId, status, addTime, outTime)
        VALUES (#{SID}, #{managerId}, #{status}, #{addTime}, #{outTime})
    </insert>

    <select id="queryBySID" resultType="com.hd.clc.boya.db.entity.ManagerSession">
        SELECT <include refid="Base_Column" />
        FROM Manager_Session
        WHERE SID = #{SID}
        AND isDeleted = 0
    </select>

    <update id="deleteBySID">
        UPDATE Manager_Session
        SET isDeleted = 1
        WHERE SID = #{SID}
    </update>


</mapper>