<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.ManagerMapper">

    <sql id="Base_Column">
        id, account, password, managerType, addTime, lastLoginTime
    </sql>

    <select id="queryById" resultType="com.hd.clc.boya.db.entity.Manager">
        SELECT <include refid="Base_Column" />
        FROM Manager
        WHERE id = #{id}
        AND isDeleted = 0
    </select>

    <select id="queryByAccount" resultType="com.hd.clc.boya.db.entity.Manager">
        SELECT <include refid="Base_Column" />
        FROM Manager
        WHERE account = #{account}
        AND isDeleted = 0
    </select>

    <update id="deleteById">
        UPDATE Manager SET isDeleted = 1
        WHERE id = #{id}
    </update>

</mapper>