<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.TeacherEvaluationMapper">

    <sql id="Base_Column">
        id, mapId, belongClassId, belongTeacherId, evalueationWord, evalueationScoreForFirst, evalueationScoreForSecond, evalueationScoreForThird, addTime, updateTime
    </sql>

    <select id="queryById" resultType="com.hd.clc.boya.db.entity.TeacherEvaluation">
        SELECT <include refid="Base_Column" />
        FROM Teacher_Evaluation
        WHERE id = #{id}
        AND isDeleted = 0
    </select>

    <update id="deleteById">
        UPDATE Teacher_Evaluation SET isDeleted = 1
        WHERE id = #{id}
    </update>

    <insert id="add" parameterType="com.hd.clc.boya.db.entity.TeacherEvaluation">
        INSERT INTO Teacher_Evaluation
        (mapId, belongClassId, belongTeacherId,
        <if test="evalueationWord != null">evalueationWord</if>
        evalueationScoreForFirst, evalueationScoreForSecond, evalueationScoreForThird, addTime
        )
        VALUES (#{mapId}, #{belongClassId}, #{belongTeacherId},
        <if test="evalueationWord != null">#{evalueationWord}</if>
        #{evalueationScoreForFirst}, #{evalueationScoreForSecond}, #{evalueationScoreForThird}, #{addTime})
    </insert>

</mapper>