<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.TeacherMapper">

    <sql id="Base_Column">
         id, userId, imagePath, name, tel, description, specialize, experience, score, scoreTimes, fansNum,
          teacherType, status, addTime, updateTime
    </sql>

    <select id="queryById" resultType="com.hd.clc.boya.db.entity.Teacher">
        SELECT <include refid="Base_Column" />
        FROM Teacher
        WHERE id = #{id}
        AND isDeleted = 0
    </select>
    
    <update id="deleteById">
        UPDATE Teacher SET isDeleted = 1
        WHERE id = #{id}
    </update>

    <select id="queryByUserId" resultType="com.hd.clc.boya.db.entity.Teacher">
        SELECT <include refid="Base_Column" />
        FROM Teacher
        WHERE userId = #{userId}
        AND isDeleted = 0
    </select>

    <insert id="addNewTeacher" parameterType="com.hd.clc.boya.db.entity.Teacher" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO Teacher
        (userId, imagePath, name, tel, description, specialize, experience, teacherType, addTime)
        VALUES (#{userId}, #{imagePath}, #{name}, #{tel}, #{description}, #{specialize}, #{experience}, #{teacherType}, #{addTime})
    </insert>

    <update id="changeStatus" parameterType="com.hd.clc.boya.db.entity.Teacher">
        UPDATE Teacher
        SET status =  #{status}
        WHERE id = #{id}
    </update>

    <update id="updateScore" parameterType="com.hd.clc.boya.db.entity.Teacher">
        UPDATE Teacher
        SET score = #{score}, scoreTimes = #{scoreTimes}
        WHERE id = #{id}
    </update>

    <update id="addNewFans">
        UPDATE Teacher
        SET fansNum = fansNum + 1
        WHERE id = #{id}
    </update>

</mapper>