<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.UserMapper">

    <sql id="Base_Column">
        id, openid, unionid, userName, imagePath, sex, tel, accountBalance, addTime, updateTime, loginTimes, lastLoginTime, userType
    </sql>

    <select id="queryById" resultType="com.hd.clc.boya.db.entity.User">
        SELECT <include refid="Base_Column" />
        FROM User
        WHERE id = #{id}
    </select>

    <select id="queryByOpenid" resultType="com.hd.clc.boya.db.entity.User">
        SELECT <include refid="Base_Column" />
        FROM User
        WHERE openid = #{openid}
    </select>

    <insert id="addNewUser" parameterType="com.hd.clc.boya.db.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO User
          (openid,
                <if test="unionid != null">
                  unionid,
                </if>
          addTime, lastLoginTime)
        VALUES (#{openid},
                <if test="unionid != null">
                    #{unionid}
                </if>
                #{addTime}, #{lastLoginTime})
    </insert>

    <update id="updateUserInformation" parameterType="com.hd.clc.boya.db.entity.User">
        UPDATE User
        SET
            <if test="userName != null">
                userName = #{userName},
            </if>
            <if test="imagePath != null">
                imagePath = #{imagePath},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
        updateTime = #{updateTime}
        WHERE id = #{id}
    </update>

    <update id="updateUserLogin" parameterType="com.hd.clc.boya.db.entity.User">
        UPDATE User
        SET loginTimes = #{loginTimes}, lastLoginTime = #{lastLoginTime}
        WHERE id = #{id}
    </update>

    <update id="updateUserType" parameterType="com.hd.clc.boya.db.entity.User">
        UPDATE User
        SET userType = #{userType}
        WHERE id = #{id}
    </update>

    <update id="updateAccountBalance" parameterType="com.hd.clc.boya.db.entity.User">
        UPDATE User
        SET accountBalance = #{accountBalance}
        WHERE id = #{id}
    </update>




</mapper>