<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.clc.boya.db.impl.UserCollectionTeacherMapMapper">

    <sql id="Base_Column">
        id, userId, teacherId, addTime, updateTime
    </sql>

    <select id="queryById" resultType="com.hd.clc.boya.db.entity.UserCollectionTeacherMap">
        SELECT <include refid="Base_Column" />
        FROM User_Collection_Teacher_Map
        WHERE id = #{id}
        AND isDeleted = 0
    </select>

    <update id="deleteById">
        UPDATE User_Collection_Teacher_Map SET isDeleted = 1
        WHERE id = #{id}
    </update>

    <select id="checkRepeat">
        SELECT COUNT(*)
        FROM User_Collection_Teacher_Map
        WHERE userId = #{userId}
        AND teacherId = #{teacherId}
    </select>

    <insert id="add" parameterType="com.hd.clc.boya.db.entity.UserCollectionTeacherMap">
        INSERT INTO User_Collection_Teacher_Map
        (userId, teacherId, addTime)
        VALUES (#{userId}, #{teacherId}, #{addTime})
    </insert>

</mapper>